.navbar {
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    }

.jumbotron {
    padding-top:6rem ;
    background-color: #D16BA5;
    }

#about {
    
    background-color: #86A8E7;
    }
    
#projects{
    background-color: #46eefa;
    }
    
#contact {
    padding-bottom: 3rem;
    background-color: #5FFBF1;
    }
    
section {
    padding-top: 6rem;
    }    
.card-body {
      background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    }
    
.card-text {
    color: white;
    }
    
footer {
    padding-top: 1rem;
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
